/* /.../... - level down */
/* ... - current catalog */
/* ../... - level up*/

/* __________ Fonts __________  */
@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "KaushanScript-Regular";
    src: url("/fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf");
}

body {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
    margin: 0;
}

/* block height and width = height and width include border and padding*/
/* for all elements */
*, *::after, *::before {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

                    /* __________ <<< FIRST BLOCK: "INTRO" >>> __________  */
                    
/* __________ INTRO Header __________  */
.cl_header {
    position: absolute;
    padding-top: 30px;
    width: 100%;   
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
}

.cl_container {
    /* margin: 0 top and bottom, auto leftand right */
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.cl_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* __________ INTRO Header logo __________  */
.cl_header_logo {
    /* sans-serif - without "засечек", that helps easier undestand the text */
    font-family: "Montserrat-Bold", sans-serif ;
    font-size: 30px;
    color: #fff;
}

/* __________ INTRO Header toolbar __________  */
.cl_toolbar {
    text-transform: uppercase;
    font-size: 14px;
}

.cl_toolbar_item {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none; 
    vertical-align: top;
    color: #fff;
    /* calm linear transition (переход) color from white to yellow */
    transition: color 0.2ms linear;
}

.cl_toolbar_item::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    z-index: 1;
    background-color: #fce38a;
    transition: opacity 0.1s linear;
}

.cl_toolbar_item:hover,
.cl_toolbar_item_active {
    color: #fce38a;
}

.cl_toolbar_item:hover::after,
.cl_toolbar_item_active::after {
    opacity: 1;
}

/* TO DO: opacity 0 and background-color for icon */

/* __________ INTRO block __________ */
.cl_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("/images/intro_background.jpg") center no-repeat;
    background-size: cover;
}

.cl_intro_inner_title {
    margin: 0 auto;
    width: 100%;
    max-width: 880px; 
    text-align: center;
    color: #fff;
}

/* __________ INTRO suptitle "Creative Template" __________ */
.cl_intro_suptitle {
    font-family: "KaushanScript-Regular", sans-serif;
    font-size: 72px;
    margin-bottom: 10px;
}

/* /__________ ONTRO title "Welcome to MoGo" __________ */
.cl_intro_title {
    font-family: "Montserrat-Bold", sans-serif ;
    font-size: 150px;
    line-height: 1;
    text-transform: uppercase;
}

.cl_intro_title::after {
    display: block;
    content: "";
    margin: 60px auto;
    height: 3px;
    width: 60px;
    background-color: #fff;
}

/* __________ INTRO button __________ */
.cl_intro_button_learn_more {
    display: inline-block;
    font-family: "Monserrat-Bold", sans-serif;
    font-size: 14px; 
    padding: 8px 30px;
    text-transform: uppercase; 
    text-decoration: none;
    border: 3px solid #fff;
    color: #fff;
    transition: border 0.1s linear, color 0.1s linear;
}

.cl_intro_button_learn_more:hover {
    color: #fce38a;
    border-color: #fce38a;
}
/* __________ INTRO Slider __________ */
.cl_intro_slider {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.cl_intro_inner_slider {
    display: flex;
    justify-content: space-between;
}

.cl_intro_slider_item {
    position: relative;
    width: 24%;
    padding: 20px 0;
    font-size: 18px;
    opacity: 0.7;
    text-transform: uppercase;    
    color: #fff;
    border-top: 3px solid #fff;
    transition: color 0.2s linear, border 0.2s linear;
}

.cl_intro_slider_item_number {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 24px;
}

.cl_active {
    opacity: 1;
}

.cl_intro_slider_item:hover {
    color: #fce38a;
    border-color: #fce38a;
}

/* __________ INTRO Slider first item pink line __________  */
.cl_intro_slider_item_active::before {
    position: absolute;
    display: block;
    height: 3px;
    width: 70px;
    top: -3px;
    left: 0;
    content: "";
    background-color: #f38181;
    z-index: 1;
}

                    /* __________ <<< SECOND BLOCK: "ABOUT US" >>> __________  */

/* __________ ABOUT US section __________  */
.cl_section_about_us {
    padding: 80px 0;
}

/* ABOUT US title section */
.cl_section_inner_about_us {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

/* ABOUT US suptitle "What we do" */
.cl_about_us_suptitle {
    font-family: "KaushanScript-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* ABOUT US title "Story about us" */
.cl_about_us_title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.cl_about_us_title::after {
    display: block;
    height: 3px;
    width: 60px;
    margin: 30px auto;
    content: "";
    background-color: #f38181;
    
}

/* ABOUT US text */
.cl_about_us_text {
    font-family: "Roboto-Regular", sans-serif;
    color: #999;
}

/* ABOUT US gallery */
.cl_about_us_gallery {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

/* ABOUT US gallery item */
.cl_about_us_gallery_item {
    position: relative;
    width: 380px;
    background-color: #95e1d3;
}

/* наводим на "item", применяется к блоку "img" (div class="..._img")*/
.cl_about_us_gallery_item:hover .cl_about_us_gallery_img {
    transform: translate3d(-10px, -10px, 0) ;
}

/* наводим на "item", применяется к изображению (<img....)*/
.cl_about_us_gallery_item:hover .cl_about_us_gallery_img img {
    opacity: 0.1;
}

/* ABOUT US gallery img */ 
.cl_about_us_gallery_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
}

.cl_about_us_gallery_img img{
    display: block;
    transition: opasity 0.2s linear;
}

/* ABOUT US gallery icon */
.cl_about_us_gallery_icon {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transform: translate3d(-10px, -150%, 0);
    transition: opacity 0.2s linear;
}

/* ABOUT US gallery text */
.cl_about_us_gallery_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    color: #fff;
    z-index: 2;
    transform: translate3d(-10px, -50%, 0);
    transition: opacity 0.2s linear;
}

.cl_about_us_gallery_item:hover .cl_about_us_gallery_text,
.cl_about_us_gallery_item:hover .cl_about_us_gallery_icon {
    opacity: 1;
}

                    /* __________ <<< THIRD BLOCK: "STATS" >>> __________  */

/* STATS */
.cl_stats {
    background-color: #95e1d3;
}

/* STATS inner block */
.cl_stats_inner {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

/* STATS inner item */
.cl_stats_inner_item {
    /* flex grow 1, flex shrink 1, flex basis 0 */
    flex: 1 1 0;
    padding: 70px 20px;

    text-align: center;
    border-left: 2px solid #b5eae0;
    color: #fff;
}

.cl_stats_inner:last-child {
    border-right: 2px solid #b5eae0;
}

/* STATS inner count*/
.cl_stats_inner_count {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 72px;
    margin-bottom: 15px;
    line-height: 1;
}

/* STATS inner text */
.cl_stats_inner_text {
    font-size: 14px;
    text-transform: uppercase;
}

                    /* __________ <<< FORTH BLOCK: "SERVICES" >>> __________  */

/* SERVICES header */
.cl_section_services {
    padding: 80px 0;
}

/* SERVICES inner block */
.cl_services_inner {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

/* SERVICES suptitle */
.cl_services_inner_suptitle {
    font-family: "KaushanScript-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* SERVICES title */
.cl_services_inner_title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.cl_services_inner_title::after {
    display: block;
    height: 3px;
    width: 60px;
    margin: 30px auto 55px;
    content: "";
    background-color: #f38181;
}

/* SERVICES gallery first row */
 .cl_services_gallery_first {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

/* SERVICES gallery item */
.cl_services_gallery_item {
    position: relative;
    width: 100%;
    padding-left: 85px;
    padding-right: 35px;
    flex: 1 1 0;
}

/* SERVICES gallery icon */
.cl_services_gallery_icon {
    position: absolute;
    top: 8px;
    left: 25px;
    z-index: 1;
}

/* SERVICES gallery title */
.cl_services_gallery_title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/* SERVICES gallery text */
.cl_services_gallery_text {
    font-family: "Roboto-Regular", sans-serif;
    color: #999;
} 

/* SERVICES gallery second row */
.cl_services_gallery_second {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

                    /* __________ <<< FIFTH BLOCK: "DEVICES" >>> __________  */

/* DEVICES section*/
.cl_devices_section {
    width: 100%;
    padding-top: 80px;
    background: url("/images/devices_background_1.jpg") center no-repeat;
    background-size: cover;
}

/* DEVICES inner (header) */
.cl_devices_inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* DEVICES suptitle */
.cl_devices_inner_suptitle {
    font-family: "KaushanScript-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* DEVICES title */
.cl_devices_inner_title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.cl_devices_inner_title::after {
    display: block;
    height: 3px;
    width: 60px;
    margin: 30px auto 40px;
    content: "";
    background-color: #f38181;
    z-index: 1;
}

/* DEVICES gallery */
.cl_devices_gallery {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* DEVICES tablet */
.cl_devices_gallery_tablet {
    display: block;
}

/* DEVICES phone */
.cl_devices_gallery_phone {
    display: block;
    position: absolute;
    bottom: -55px;
    right: 0;
    z-index: 1;
}

                    /* __________ <<< SIXTH BLOCK: "WE DO" >>> __________  */